body{
    background: darkslateblue;
    font-size: 16px;
    font-family: monospace;
}

.container{
    max-width: 1080px;
    padding: 10px;
    border: 2px solid blue;
    margin: 10px auto;
    background: coral;
    color: rgb(185, 10, 107);
}